@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
#container-game{
    margin-top: 9%;
    width: 80%;
}
.jumbotron{
    height: 80%;
    text-align: center;
    background-color: rgb(59, 59, 59);
}
h1,h2, h5{
    font-family: 'Montserrat';
    color:  rgb(201, 176, 37);
    text-align: center;
}
hr{
    visibility: hidden;
}
#score, #time, hr{
    color:white;
}
#score, #calcscore{
    font-family: 'Montserrat';
    float: left;
    margin-left: 20px;
}
#time, #calctime{
    font-family: 'Montserrat';
    float: right;
    margin-right: 20px;
}
.jumbotron {    
    margin-top: 9%;
    width: 100%;
    align-content: center;
}

.buttonn{    
    margin-top: 4%;
    width: 100%;
}

input[type="button"]{
    font-family: 'Montserrat';
    transform: scale(1.5);
    border-radius: 7px;
    position: fixed;

}
.buttonn{
    background-color: rgb(201, 176, 37);
}
#calctime, #calcscore{
    color: rgb(201, 176, 37);
}
#scoretime{
    display: inline;
}

.words{
    color: #eed339;
    font-family: 'Montserrat';
    font-size: 60px;
   padding-top: 5%;
}
.fillwords{
    font-size: small;
}
